*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,
}
.nav-item a{
    color: rgb(2 38 81);
    font-size: 1.1rem;
    border-bottom:3px solid transparent;
}
.nav-item a:hover{
    border-color:rgb(2 38 81);
}

.pt-7{
    padding-top: 70px;
}
.box{
    background: linear-gradient(45deg, rgb(171, 169, 169), transparent);
}
.min-box{
    background: white;
}
.border-new{
    border-left:2px groove rgb(118, 116, 116);
}

.border{
    border:2px groove rgb(118, 116, 116);
    transition: background 1s ease-in-out;
}
.border:hover{
    background:rgb(23, 65, 116);
    color: white;
}
.header{
    position:sticky;
}
.mx-7{
    margin: 20px 200px;
}
.mx-8{
    margin:20px 200px;
}
.bg-new{
    background-color:rgb(2 38 81);
}
.add{
    font-size: 1.1rem;
}
.contect a{
    margin-top:20px;
}
.fa-chevrons-right{
    color:white;
}
.copy{
    font-size: 1.1rem;
    color:rgb(2 38 81);
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}
.dropdown-menu a:hover{
    background-color: rgb(190, 188, 188);
}
.dropmenu2{
    float: left;
}


/* card in b.tech invited talk */
/*----  Main Style  ----*/
#cards_landscape_wrap-2{
	text-align: center;
	background: #F7F7F7;
  }
  #cards_landscape_wrap-2 .container{
	padding-top: 80px; 
	padding-bottom: 100px;
  }
  #cards_landscape_wrap-2 a{
	text-decoration: none;
	outline: none;
  }
  #cards_landscape_wrap-2 .card-flyer {
	border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box{
	background: #ffffff;
	overflow: hidden;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
	border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img{
	-webkit-transition:all .9s ease; 
	-moz-transition:all .9s ease; 
	-o-transition:all .9s ease;
	-ms-transition:all .9s ease; 
	width: 100%;
	height: 200px;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .image-box img{
	opacity: 0.7;
	-webkit-transform:scale(1.15);
	-moz-transform:scale(1.15);
	-ms-transform:scale(1.15);
	-o-transform:scale(1.15);
	transform:scale(1.15);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box{
	text-align: center;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container{
	padding: 30px 18px;
  }
  #cards_landscape_wrap-2 .card-flyer{
	background: #FFFFFF;
	margin-top: 50px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  #cards_landscape_wrap-2 .card-flyer:hover{
	background: #fff;
	box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	margin-top: 50px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p{
	margin-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px; 
	font-size: 14px;
	letter-spacing: 1px;
	color: #000000;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box h6{
	margin-top: 0px;
	margin-bottom: 4px; 
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Roboto Black', sans-serif;
	letter-spacing: 1px;
	color: #00acc1;
  }
  .text-container{
	  height: 15rem ;
	  overflow-y: scroll;
  }
/* flex box container */

@media (max-width:768px) {
    .container0{
        flex-direction: column;
		background-color: greenyellow;
    }
}
.item1{
	background-color: #00acc1;
	border: 2px solid black;
	margin : 2px;
	width : 700px;
	height : 400px;
}
.item2{
	background-color: #00acc1;
	border: 2px solid black;
	margin : 2px;
	width : 700px;
	height : 400px;
}

/* **************
*Wrappers
****************/
/* 
.wrapper{
	min-height: 100vh;
	display: flex;
    flex-direction: column;
}
.header-wrapper{
	margin-left: 20px;
}
.footer-wrapper,.contents-wrapper{
	margin: 0 auto;
	width: 800px;
}

.contents-wrapper{
	margin-top: 3rem;
	margin-bottom: 2rem;
	flex:1;
	line-height: 1.5;
	font-size: 16px;
}

.contents-wrapper .content{
	padding-left: 3rem;
	padding-right: 3rem;
}



/****************
 * Faculty Style
 ***************/

 /* .faculty-list .list-group .list-group-item >h3{
	margin-bottom: 2rem;
}


.list-group .list-group-item >.row>div:first-child{
	overflow: hidden;
}

.faculty-list .list-group .list-group-item{
	padding: 2rem;
}

.career .list-group .list-group-item,
.visiting-faculty .list-group .list-group-item,.staff-members .list-group .list-group-item{
	padding: 2rem;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.carousel-items{
	overflow: hidden;
	border: 3px solid rgb(15,108,107);
	border-bottom: 0;
	border-top: 0;
} */
 */
 /* news headinds */
 body{background: #eee}.news{width: 160px}.news-scroll a{text-decoration: none}.dot{height: 6px;width: 6px;margin-left: 3px;margin-right: 3px;margin-top: 2px !important;background-color: rgb(207,23,23);border-radius: 50%;display: inline-block}

 .carsoul img{
	height:80vh;
	width:40%;
}
 .carsoul{
	height:80vh;
	width:40%;
}
/* books note */
.bksz img{
	height:240px;
	width:92%;
}

/* sign up library */
.button {
    display: inline-block;
    color: #FFFFFF;
    background-color: #0061AC;
    font-size: 15px;
    line-height: 1;
    padding: 11px;
}

/* new test */
.section-header--underlined {
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}
.section-header {
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    /* -ms-flex-pack: justify; */
    justify-content: space-between;
    /* -ms-flex-align: end; */
    align-items: flex-end;
}
*, *:after, *:before {
    box-sizing: inherit;
}
/* *, ::after, ::before {
    box-sizing: border-box;
} */
/* user agent stylesheet */
/* div {
    display: block;
} */
body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #000000;
    /* background: #EDEDED; */
}
html, body {
    /* box-sizing: border-box;
    width: 100%;
    overflow-x: hidden; */
    -webkit-font-smoothing: antialiased;
    /* -moz-osx-font-smoothing: grayscale; */
}

.student-corner img{
	height: 25rem;
	width: 100%;
	margin: 0 !important;
}