*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,
}
.nav-item a{
    color: rgb(2 38 81);
    font-size: 1.1rem;
    border-bottom:3px solid transparent;
}
.nav-item a:hover{
    border-color:rgb(2 38 81);
}

.pt-7{
    padding-top: 70px;
}
.box{
    background: linear-gradient(45deg, rgb(171, 169, 169), transparent);
}
.min-box{
    background: white;
}
.border-new{
    border-left:2px groove rgb(118, 116, 116);
}

.border{
    border:5px 10px 10px 5px solid rgb(255, 26, 26);
}
.border:hover{
    background:rgb(23, 65, 116);
    color: white;
}
.header{
    position:sticky;
}
.mx-7{
    margin: 20px 200px;
}
.mx-8{
    margin:20px 200px;
}
.bg-new{
    background-color:rgb(2 38 81);
}
.add{
    font-size: 1.1rem;
}
.contect a{
    margin-top:20px;
}
.fa-chevrons-right{
    color:white;
}
.copy{
    font-size: 1.1rem;
    color:rgb(2 38 81);
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
    float: left;
    display:flex;
}
.dropdown-menu a:hover{
    background-color: rgb(190, 188, 188);
}
.dropmenu2{
    float: left;
}
.round{
    border-radius: 30%;
    font-size: 1.6rem;
    margin: 10px 4px;
}
.grid-item{
    width: 100%;
    padding: 0px 0px;
}
.grid-box {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
}
.grid-box > div {
    background-color:#eee;
    padding : 1em 2em;
    color: black;
}
.grid-box >:nth-child(even){
    background-color:#fff;
}
.boxx{
    display: grid;
    gap: 3px;
    grid-template-areas: "header";
}
header{
    grid-area: header;
}
.boxx >div {
    background-color: #eee;
    padding:1em 2em;
    color: black;
}
.boxx >:nth-child(even){
    background-color:#fff;
}
.icon-section{
    background-color:#eee;
}
.section{
    display:grid;
    grid-template-columns: 22% 22% 22% 22%;
    padding: 50px 10px;
    width: 1050px;
    margin: auto;
    justify-content:space-between;
}
.icon-bar{
    display: block;
    margin:0 auto;
}
.icon{
    padding: 30px 30px;
    border:2px solid gray;
}
.icon a{
    color: black;
}
icon a:hover{
    color:white;
}
.icon-bar{
    border-bottom: 5px groove rgb(2 38 81);
    width: 200px;
    font-size: 1.4rem;
    font-weight: bold
}


